:root {
  --primary-bg-color: #0074a6;
  --primary-text-color: #fff;
  --sec-bg-color: #e0eafb;
  --sec-text-color: #0074a6;
}
.aa_bg_main{
	background-color:#f8f9fa  !important;
}
.aa_bg_main.builder_nav{
	background-color:#f8f9fa !important;
}


.aa_bg_sec{
	background-color:#FFFFFF !important;
}
.aa_bg_tri{
	background-color:#d1d1d1 !important;
}
.aa_font_color_default{
	color:#666 !important;
}
/* MAIN MENU TEXT LINKS */
.aa_menu a {
    color: #666 !important;
   /* border-bottom: 1px solid rgba(0,0,0,0.1) !important;*/
    background: #fff;
}

.aa_menu li:hover a{
    background-color: #eeeff0 !important;
    color: #333 !important;
}

.aa_menu .prime-menu li.current a,
.aa_menu .prime-menu li.current:hover a,
.aa_menu li.db_tab.current a,
.aa_menu li.db_tab.current:hover a,
.aa_menu li.alt-tab.current a,
.aa_menu li.alt-tab.current:hover a{
	background-color:var(--primary-bg-color) !important;
	color:var(--primary-text-color) !important;
}


#new_form_setup.modal .modal-header h4{
	color:#666 !important;	
}
.aa_menu .active a,
.aa_menu a.active,
.aa_menu li:hover a.active,
.aa_menu li.active:hover a{
	color:var(--primary-text-color) !important;
	background-color:var(--primary-bg-color)  !important;	
}


.left-col .aa_menu .active a,
.left-col .aa_menu a.active,
.left-col .aa_menu li:hover a.active,
.left-col .aa_menu li.active:hover a,
.form_attr_left_menu.aa_menu .active a,
.form_attr_left_menu.aa_menu a.active,
.form_attr_left_menu.aa_menu li:hover a.active,
.form_attr_left_menu.aa_menu li.active:hover a
{
	color:var(--sec-text-color) !important;
	background-color:var(--sec-bg-color)  !important;	
}

.dashboard-box.database_table tbody tr.active td {
	background: var(--sec-bg-color) !important;
}

.sub_form_item a {
    background: #fff;
}
/* MAIN MENU ICONS */
.aa_menu a .fa{
	color:#999999 !important;
}
.aa_menu li:hover a .fa
{
	color:#444 !important;
}
.aa_menu li.active:hover a .fa
{
	color:var(--sec-text-color) !important;
}
.aa_menu .active a .fa
{
	color:var(--sec-text-color) !important;
}


/* SEC MENU TEXT LINKS */
.aa_menu .aa_menu_2 li a {
    color: #888 !important;
    background: #FFFFFF !important;
}

.aa_menu .aa_menu_2 li.active a,
.aa_menu .aa_menu_2 li.active:hover a {
	background:var(--primary-bg-color)  !important;
	color:var(--primary-text-color) !important;
}
#nex-forms .multi-step-stepping li a:hover, 
#nex-forms .multi-step-stepping li.current a {
    background: var(--primary-bg-color);
    color: var(--primary-text-color);
}
#nex-forms ul.show_all_steps li.current a, 
#nex-forms  ul.show_all_steps li:hover a {
    background: var(--primary-bg-color) none repeat scroll 0 0;
    color: var(--primary-text-color);
}
#nex-forms .btn.cl-tool-btn {
    background: var(--primary-bg-color) !important;
    color: var(--primary-text-color) !important;
}
#nex-forms .multi-step-settings-btn:hover, 
#nex-forms .multi-step-settings-btn.active {
    background: var(--primary-bg-color);
    color: var(--primary-text-color);
    cursor: pointer;
    border-left: 1px solid var(--primary-bg-color);
}
.tool-section.select-other-fields i:hover, 
.tool-section.select-other-fields .col-badge:hover, 
.tool-section.select-grid-fields i:hover, 
.tool-section.select-grid-fields .col-badge:hover {

    background: var(--primary-bg-color) !important;
	border-color: var(--primary-bg-color) !important;
    color: var(--primary-text-color) !important;
}

.aa_menu .aa_menu_2 li:hover a {
    color: #3fc1fb !important;
}

.aa_menu .aa_menu_2 li:hover a.active {
    color: #3fc1fb !important;
}

.aa_bg_main_input {
    background: #fff !important;
    color: #666 !important;
}
.aa_bg_main_input:focus{
	background-color:#fff !important;
	color:#666 !important;
}




.aa_bg_main_btn{
	background:#e0eaf7 !important;
	color:#666 !important;
}
.aa_bg_main_btn:hover{
	background-color:var(--primary-bg-color)  !important;
	color:#fff !important;
}

.aa_bg_main_btn.active,
.aa_bg_main_btn.active:hover{
	background-color:var(--primary-bg-color)  !important;
	color:#fff !important;
	border-color:var(--primary-bg-color) ;
}


.aa_bg_main_btn .fa{
	color:#aaa !important;
}
.aa_bg_main_btn:hover .fa{
	color:#fff !important;
}



.aa_bg_sec_btn {
    /* background: #e0eafb !important; */
    color: #666 !important;
    border: 1px dashed #9ca2a7;
	font-size: 12px;
}
.aa_bg_sec_btn:hover {
    background-color:#eeeff0  !important;
	color: var(--sec-text-color) !important;
	
}

.aa_bg_sec_btn.active,
.aa_bg_sec_btn.active:hover{
	 background-color: var(--sec-bg-color)  !important;
    color: var(--sec-text-color) !important;
	border: 1px solid var(--sec-text-color);
}

.database_table .paging {
    border-top: 1px solid #dadce0;
}
.font_color_1{
	color: #888 !important;
}


.dashboard-box-content {
    background: #fff;
}
.active span.menu_badge {
    background: #0074a6;
    color: #fff;
}
.reporting_controls {
    background: #f8f9fa;
}
.reporting_controls a.nf_button.aa_bg_main_btn {
    background: #eaf1fb !important;
    box-shadow: none;
    border-radius: 100px;
}
.reporting_controls a.nf_button.aa_bg_main_btn:hover {
    background: var(--primary-bg-color)  !important;
}

a.nf_button.aa_bg_main_btn {
    box-shadow: 2px 2px 4px rgb(0 0 0 / 30%);
}

#nex-forms .dropdown_menu ul li.open-form-item a {
    border-right: 1px solid rgba(0,0,0,0.1);
    border-left: 1px solid rgba(0,0,0,0.1);
}

#nex-forms div.settings-column-style .tabs_nf .tab a {
    border-right: 1px solid rgba(0,0,0,0.1) !important;
}


#nex-forms .material_box_head.aa_bg_main {
    background: #f9f9f9 !important;
    border-bottom: 1px solid #eee;
    color: #777;
}
#nex-forms ul.tabs_nf.tabs_nf-transparent {
    background-color: #fff;
}
#nex-forms nav.nav-extended.settings_tabs_nf {
    box-shadow: 3px 4px 8px rgb(0 0 0 / 10%) !important;
}
#nex-forms nav ul a{
	transition:none !important;
}

#nex-forms .history-tools .history_action {
    color: #888;
}

#nex-forms #close-settings {
    border: 1px solid rgba(0,0,0,0.2);
    color: #777;
}
#nex-forms .preview_settings {
    background: #f9f9f9  !important;
	color: #777;
}
#nex-forms span.close-preview{
	 border: 1px solid rgba(0,0,0,0.2);
}
#nex-forms nav .tabs_nf.sec-menu .tab a {
    border-right: 1px solid #ddd !important;
}

#nex-forms .form_attr_left_menu ul li a {
    border-bottom: 1px solid rgba(0,0,0,0.1);
}


#nex-forms .integration_form_label {
    /* width: 15%; */
    border-bottom: 1px solid #ddd !important;
    background: #fff !important;
    border-right: 1px solid #ddd;
}

#nex-forms #new_form_setup.modal .modal-header {
    border-bottom: 1px solid rgba(0,0,0,0.1) !important;
}

.menu_head {
    background: #eee !important;
}

.total_entries_display.menu_badge {
    background: var(--primary-bg-color);
    color: #fff;
}
a.create_new_form_home {
    background: #eee;
}

.nf_context_menu {
    border: 1px solid #ddd;
}

.nf_context_menu.aa_bg_main {
    background: #fff !important;
}

.nf_context_menu li.sec_divider {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
    margin-top: 5px;
    margin-bottom: 5px;
    box-shadow: 8px 2px 6px rgba(0, 0, 0, 0.2);
}

.nf_context_menu .sec_divider {
    /* display: none; */
}
.dashboard-box-header {
	border-bottom:1px solid #ddd;s
}
.dashboard-box-heade .dashboard-box thead {
    background: #f9f9f9;
	border-bottom: 1px solid #eee !important;
}
#nex-forms .fa-icons-list .close_icons {
    border: 1px solid #ddd !important;
    color: var(--primary-bg-color);
}
#nex-forms input#icon_search, #nex-form input#icon_search:focus {
    border: 1px solid #ddd !important;
    color: #666;
}
#nex-forms .search_add_on:hover {
    background: var(--primary-bg-color) !important;
    color: #fff !important;
}
#nex-forms .search_add_on {
    background: #ddd !important;
    color: #666 !important;
}
/*.aa_menu .active a, .aa_menu a.active, .aa_menu li:hover a.active {
    color: #777 !important;
    background-color: #f4f4f4 !important;
    font-weight: 600 !important;
}*/
th.db-table-head.sortable.sorting {
    background: #eee;
}
.database_table .search_box.open input.search_box.aa_bg_main_input {
    border-left: 1px solid #ddd !important;
	border-top-right-radius:8px;
}
.nf_context_menu .cctm_head {
    background: #f9f9f9 !important;
    padding: 10px;
    box-shadow: none !important;
    font-size: 12px !important;
    font-weight: bold;
    color: #000 !important;
    border-bottom: 1px solid #ddd;
}

.nf_context_menu.nf_context_menu_1.aa_menu li:hover a {
    color: #fff !important;
    background: var(--primary-bg-color) !important;
}
.nf_context_menu.nf_context_menu_1.aa_menu li a {
    display: block;
    padding: 3px 10px;
    font-size: 11px;
    background: #eeeff0 !important;
    color: #000 !important;
    border-radius: 20px;
    max-width: 210px;
    overflow: hidden;
}
#nex-forms .settings-column-style span.active:not(.md-btn), 
#nex-forms .settings-column-style button.active:not(.md-btn), 
#nex-forms .settings-column-style button:not(.md-btn):active {
    background: var(--primary-bg-color) !important;
    color: #fff !important;
    border: 1px solid var(--primary-bg-color) !important;
}
#nex-forms .width_bar .input-group-addon.active {
    background: var(--primary-bg-color) !important;
    color: #fff;
    border-color: var(--primary-bg-color);
}
#nex-forms .preview-tools .btn.active, #nex-forms .preview-tools .btn.active:hover {
    background: var(--primary-bg-color);
    border: 1px solid var(--primary-bg-color);
    color: #fff !important;
}
#nex-forms  .preview_settings .resposive_tests i.active {
    background: var(--primary-bg-color);
    color: #fff;
}
.aa_menu li:hover a {
    background-color: #eeeff0 !important;
    color: #333 !important;
}

.nex_forms_entries .reporting_controls input.form-control, 
.nex_forms_entries .reporting_controls select.form_control {
    box-shadow: none;
    height: 36px !important;
    padding: 0 10px !important;
    margin-bottom: 2px;
    font-size: 13px !important;
    display: block !important;
    border-color: #d3d3d3;
    font-size: 12px !important;
    color: #888 !important;
}

.submission_reporting .right-col-inner {
    width: 100%;
    height: 100%;
    overflow: auto;
    background: #f8f9fa !important;
}
/*.dashboard-box.database_table.wap_nex_forms.new-forms:hover {
    background: #e8f0fe !important;
    border-color: #b7d1ff;
}*/